# macOS
.DS_Store

# Vim/Neovim
*.swp
*.swo
*.swn

# Nix
result
build.log

# VMs
*.img
*.iso
*.qcow2
edk2-aarch64-vars.fd
.http_server.pid

# Build artifacts (cloned suckless sources)
/slstatus/
/dwm/
tmp-dwm/
